<!DOCTYPE HTML PUBLIC "­//W3C//DTD HTML 4.01//EN">
{% load staticfiles %}
<html lang="en"> 
	<head>
		<title>Sistema CEAB</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	        <link rel="stylesheet" href="{% static 'css/siad.css' %}">
	 </head>
	<body>
		<header>
		    <div class="page-header">
		        <h1><a href="/">CEAB</a></h1>
		        <div id="header">
		        	<nav>
						<ul class="nav">
							<li><a href="">Control Escolar</a>
								<ul>
									<li><a href="">Prospectos</a></li>
									<li><a href="">Alumnos</a></li>
									<li><a href="">Calendario de clases</a></li>
								</ul>
							</li>
							<li><a href="">Cobranza</a>
								<ul>
									<li><a href="">Alumno</a></li>
									<li><a href="">Empresa</a></li>
								</ul>
							</li>
							<li><a href="">Contabilidad</a>
								<ul>
									<li><a href="">Ingresos</a></li>
									<li><a href="">Gastos</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
		    </div>
		</header>
	    <div class="content container">
	        <div class="row">
	            <div class="col-md-8">
	            {% block content %}
	            {% endblock %}
	            </div>
				<div class="col-md-8">
	            {% block footer %}
	            	<p>"Gracias por visitar nuestro sitio"</p>
	            {% endblock %}
	            </div>
	        </div>
	    </div>
	</body> 
</html>
