<!DOCTYPE HTML PUBLIC "­//W3C//DTD HTML 4.01//EN">
{% load staticfiles %}
<html lang="es"> 
	<head>
		<title>Sistema CEAB</title>
	    <link rel="stylesheet" href="{% static 'css/siad.css' %}">
	 </head>
	<body>
		<header class="page-header">
			<img src="http://www.mibachilleratoabierto.com.mx/images/logo.png" alt="Logo">
	        <h1><a href="/">CEAB</a></h1>
	    </header>
	        <nav>
		        <ul class="nav nav-pills">
					<li class="active"><a href="/">Inicio</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/control_escolar">Control Escolar <span class="caret"></span></a>
						<ul>
							<li><a href="#">Consulta de alumnos</a></li>
					        <li><a href="#">Consulta de calificaciones</a></li>
					        <li><a href="#">Consulta de adeudos</a></li>
					        <li><a href="#">Baja de alumnos</a></li>
						</ul></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/contabilidad">Contabilidad <span class="caret"></span></a>
						<ul>
					        <li><a href="#">Ingresos</a></li>
					        <li><a href="#">Egresos</a></li>
					        <li><a href="#">Corte de caja</a></li>
						</ul></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="/promotoria">Promotoría <span class="caret"></span></a>
						<ul>
					        <li><a href="/promotoria#5to">Consulta de prospectos</a></li>
	        				<li><a href="#">Alta de prospectos</a></li>
	        				<li><a href="#">Estadística por medio de información</a></li>
						</ul></li><br><br><br><br><br><br><br><br><br><br>
				</ul>
			</nav>
		
    	<div>

        	{% block aside %}
        	{% endblock %}
        </div>

        <section class="content">
        	
            
            {% block content %}
            {% endblock %}

   		</section>
	  
	 
		<footer>
        {% block footer %}
        	<p style="margin-left: 40px" >Este es el footer. Aquí arriba vamos a poner lo que se acordó con la maestra en la propuesta final, ojo se resalta de esta foma:<br>** Página por cada área que integra al CEAB (uso de formularios para captura de la información):<br></p>
        {% endblock %}
        </footer>
	    
	</body> 
</html>
