{% extends 'siad/base.html' %}
{% block aside %}
	<aside style="padding-top: 20px">
		<ul class="list-group">
	        <li class="list-group-item"><a href="/control_escolares">Consulta de alumnos</a>
	        	<span class="badge">{{ lista_alumnos_total|length }}</span>
	        </li>
	        <li class="list-group-item"><a href="/nuevo_alumno">Alta de alumnos</a></li>
	        <li class="list-group-item"><a href="#">Consulta de calificaciones</a></li>
	        <li class="list-group-item"><a href="#">Consulta de adeudos</a></li>
	        <li class="list-group-item"><a href="#">Baja de alumnos</a></li>
	    </ul>
	</aside>
{% endblock %}

{% block content %}
		<h2>¡Bienvenido a la sección de Control Escolar!</h2>

		{% block buscar %}
		{% endblock %}

		{% block resultado %}
    	{% endblock %}

    	{% block subcontent %}
    	{% endblock %}


{% endblock %}