{% extends 'controlescolar/control_escolar.html' %}

{% block buscar %}
    <h3>Actualmente tienes: {{ lista_alumnos_total|length }} alumno{{ lista_alumnos_total|pluralize }}</h3>
	<p style="color: red;">Para consultar un alumno, por favor introduce un término de búsqueda.</p> 
    <form action="/buscar_alumnos/" method="get"> 
        <input type="text" name="s"> 
        <input type="submit" value="Buscar por id"> 
    </form> <br>
    <div class="table-responsive">
        <table class="table table-striped">
        	<thead>
        		<tr>
                    <th>N°</th>
        			<th>Nombre</th>
        		</tr>	
        	</thead>
        	<tbody>
    		    {% for alumno in lista_alumnos_total %}
    		    	<tr>
    		    		<td>{{ alumno.id }}</td>
    		    		<td>{{ alumno.Aspirante.nombre }}</td>
    		    	</tr>

    		    {% endfor %}
    		</tbody>
    	</table>
    </div>
{% endblock %}